<div class="container">

  <div class="row">
    <h3 class="col-3 bg-light text-center">会員情報編集</h3>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <%= render "layouts/errors", obj: @customer %>

      <%= form_with model: @customer do |f| %>

      <table>
        <tr>
          <td>氏名</td>
          <td>
            <%= f.text_field :family_name %>
            <%= f.text_field :first_name %>
            </td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td>
            <%= f.text_field :family_name_kana %>
            <%= f.text_field :first_name_kana %>
          </td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :post_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address,size: 60 %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.telephone_field :phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email %></td>
        </tr>
      </table>

      <%= f.submit "編集内容を保存", class: 'btn btn-success' %>
        <div class="btn btn-danger">
          <%= link_to "退会する", customer_confirm_deleted_path, class: 'text-light text-decoration-none' %>
        </div>
      <% end %>

    </div>
  </div>
</div>