<h2>マイページ</h2>

<table>
  <tr>
    <td>
      <h3>登録情報　</h3>
    </td>
    <td>
      <div class="btn btn-success">
        <%= link_to "編集する", edit_customer_path, class: 'text-light' %>
      </div>
    </td>
  </tr>
</table>

<table class="table table-bordered">
  <tr>
    <td>氏名</td>
    <td><%= @customer.family_name %>　<%= @customer.first_name %></td>
  </tr>
  <tr>
    <td>カナ</td>
    <td><%= @customer.family_name_kana %>　<%= @customer.first_name_kana %></td>
  </tr>
  <tr>
    <td>郵便番号</td>
    <td><%= @customer.post_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= @customer.phone_number %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <h3>配送先　</h3>
    </td>
    <td>
      <div class="btn btn-primary">
        <%= link_to "一覧を見る", addresses_path, class: 'text-light' %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h3>注文履歴　</h3>
    </td>
    <td>
      <div class="btn btn-primary">
        <%= link_to "一覧を見る", orders_path, class: 'text-light' %>
      </div>
    </td>
  </tr>
</table>