<div class="container">
  <div class="row">
    <h3 class="col-lg-auto bg-light text-center">新規会員登録</h3>
  </div>
  <div class="row justify-content-lg-center">
    <%= render "public/shared/error_messages", resource: resource %>
    <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>

    <table>
      <tr>
        <td>氏名</td>
        <td>　（姓）</td>
        <td><%= f.text_field :family_name, placeholder: "令和", autofocus: true, autocomplete: "family-name" %>
        　（名）<%= f.text_field :first_name, placeholder: "道子" , autofocus: true, autocomplete: "given-name" %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td>（セイ）</td>
        <td><%= f.text_field :family_name_kana, placeholder: "レイワ" %>
        （メイ）<%= f.text_field :first_name_kana, placeholder: "ミチコ" %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td></td>
        <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td></td>
        <td><%= f.text_field :post_code, placeholder: "0000000", autofocus: true, autocomplete: "tel" %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td></td>
        <td><%= f.text_field :address,size: 55, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td></td>
        <td><%= f.telephone_field :phone_number, placeholder: "00000000000", autofocus: true, autocomplete: "tel-national" %></td>
      </tr>
      <tr>
        <td>パスワード（6文字以上）</td>
        <td></td>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>

      <tr class="field">
        <td>パスワード（確認用）</td>
        <td></td>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
    </table>

    <div class="row justify-content-center">
      <div class=" col-lg-4 col-md-offset-5 form-group text-center">
        <%= f.submit "　新規登録　", class:"btn btn-success" %>
      </div>
    </div>

    <% end %>
  </div>
  <%= render "public/shared/links" %>
</div>