<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-5">
      <%= render 'layouts/sidebar', genres: @genres %>
    </div>
    <div class="col-lg-4">
      <%= image_tag @item.get_image, width: "100%" %>
    </div>
    <div class="col-lg-5">
      <h3><b><%= @item.name %></b></h3>
      <p><%=@item.introduction %></p>
      <big><b>¥<%= @item.with_tax_price.to_s(:delimited, delimiter: ',') %></b></big><small> (税込)</small>
      <% if customer_signed_in? %>
        <div class="form-group">
          <%= form_with model: @cart_item, local: true do |f| %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.hidden_field :customer_id, :value => @customer.id %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit 'カートに入れる', class:'btn btn-success' %>
          <% end %>
        </div>
      <% else %>
          <div class="form-group">
          <%= form_with url: customer_session_path, local: true do |f| %>
            <%= f.select :amount, *[1..10] %>
            <%=link_to 'カートに入れる', new_customer_session_path, class:"btn btn-success"%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>