<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'layouts/sidebar', genres: @genres %>
    </div>
    <div class="col-md-4">
      <%= image_tag @item.get_image, width: "100%" %>
    </div>
    <div class="col-md-5">
      <h3><b><%=@item.name %></b></h3>
      <p><%=@item.introduction %></p>
      <big><b>¥<%=@item.price %>円</b></big><small> (税込)</small> #税抜き表示
      <div class="form-group">
        <%= form_with model: @cart_item do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit 'カートに入れる', class:'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>