<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <a class="navbar-brand" href="/"><big>NaganoCake</big></a>

      <div class="text-light">
        <% if customer_signed_in? %>
          　　　　　ようこそ、<%= current_customer.family_name %>さん！
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ",customer_path(current_customer),class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "商品一覧", items_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "カート", cart_items_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,class: 'nav-link text-light' %>
            </li>
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%=  link_to "商品一覧", admin_items_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧",admin_customers_path,class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "注文履歴一覧", admin_root_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path,class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%=  link_to "商品一覧", items_path, class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path,class: 'nav-link text-light' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path ,class: 'nav-link text-light' %>
            </li>
          <% end %>
          <div class="form-inline my-2 my-lg-0">
            <%= form_with url: search_items_path, method: :get, local: true do |f| %>
              <%= f.text_field :search, class:"form-control input-group-prepend bg-light", placeholder:"Search" %>
              <%= button_tag type: "submit", class:"btn btn-light" do %>🔎<% end %>
            <% end %>
          </div>
        </ul>
      </div>

  </nav>
</header>